.container {
    background-color: rgb(250, 244, 244);
}

.foto {
    background-color: #ddd;
}

.headerColor {
    color: white;
    background-color: teal;
}

.hide {
    display: none;
}

.toggleContainer {
    background-color: rgb(211, 235, 235);
}